.profileheader__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.avatar__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    border-radius: 9999px;
    height: 10rem;
    width: 10rem;
    display: flex;
}

.profile__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: span 2 / span 2;
}

.profile__header {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile__name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 1rem;
}

.profile__follow {
    background-color: rgba(59, 130, 246, 1);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    color: rgba(255, 255, 255, 1);
    width: 5rem;
    height: 2rem;
}

.profile__info {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.stat__container {
    margin-right: 2.5rem;
}

.stat__style {
 font-weight: 700;
}

.fullName__container {
    width: 100%;
    margin-top: 1rem;
}

.fullName__style {
    font-weight: 500;
}