.suggestedUser__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.suggestedNameAvatar__container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestedUser__avatar {
    border-radius: 9999px;
    width: 2rem;
    display: flex;
    margin: 0.75rem;
}

.suggestedUser__link {
    color: inherit;
    text-decoration: inherit;
}

.suggestedUser__name {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.suggestedUser__follow {
    background-color: transparent;
    border: none;
    outline: none;
	font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: rgba(37, 99, 235, 0.75);
}

.button__styling {
    float: right;
    margin-right: 30%;
}

.suggestedUsers__skeleton {
    margin-top: 1.25rem;
}

.suggestedUsers__container {
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;  
    padding-top: 80px;
}

.suggestedUsers__headerContainer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.suggestedUsers__header {
    font-weight: 700;
    color: rgba(75, 85, 99, 1);
}

.suggestedUsers__listContainer {
    margin-top: 1rem;
    display: grid;
    gap: 1.25rem;
}

.sidebar__container {
    padding: 1rem;
}