.post__container {
    border-radius: 0.25rem;
    grid-column: span 4 / span 4;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(75, 85, 99, 0.25);
    margin-bottom: 3rem;
}

.notificationpost__container{
    border-radius: 0.25rem;
    display: flex;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(75, 85, 99, 1);
}

.postheader__container {
    display: flex;
    border-bottom-width: 1px;
    border-color: rgba(75, 85, 99, 1);
    height: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.postheader__styling {
    display: flex;
    align-items: center;
}

.user__redirect {
    display: flex;
    align-items: center;
}

.user__avatar {
    border-radius: 9999px;
    height: 2rem;
    width: 2rem;
    display: flex;
    margin-right: 0.75rem;
}

.username__style {
    font-weight: 700;
}

.footer__container {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
}

.footer__username {
    margin-right: 0.25rem;
    font-weight: 700;
}

.comments__container {
    padding: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    max-height: 130px;
    overflow: auto;
}

.comment__container {
    margin-bottom: 0.25rem;
}

.comment__name {
    margin-right: 0.25rem;
    font-weight: 700;
}

.post__DateCreated {
    color: rgba(75, 85, 99, 1);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
}

.addComment__container {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(75, 85, 99, 0.5);
}

.addComment__submit {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 1.25rem;
}

.addComment__textField {
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(75, 85, 99, 1);
    margin-right: 0.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

.addComment__button {
    width: 10%;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: rgb(48, 37, 204);
}

.addComment__button:disabled {
    width: 10%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: rgba(48, 37, 204, 0.5);
}

.like__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.like__icons {
    display: flex;
}

.heart {
    width: 2rem;
    margin-right: 1rem;
    user-select: none;
    cursor: pointer;
}

.heart__liked {
    color: rgba(220, 38, 38, 1);
    fill: currentColor;
}

.heart__default {
    color: rgba(0, 0, 0, 0.5);
}

.comment__svg {
    width: 2rem;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
}

.likes__textContainer {
    padding: 1rem;
    padding-top: 0px;
padding-bottom: 0px;
}

.likes__text {
    font-weight: 700;
}

.post__photo {
    display: flex;
    width: 100%;
    height: 100%;
}

.usernameComment__link {
    color: inherit;
    text-decoration: inherit;
}

.expandComment__button {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(75, 85, 99, 1);
    margin-bottom: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.postCommentFooterAction__container{
    display: 10%;
}

.postImage__container {
    width: 90%;
}